Repository MapColonies/schemas, pull requests merged in 2025-04, with the labels that each got.

#63 feat: created retiler schema
  schemas/vector/retiler/v1.schema.json
Labels: Vector

#92 feat: created common redis schema
  schemas/common/redis/v1.schema.json
Labels: Common

#93 chore(master): release 1.7.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending
